/* curl of-blues */

.tingle- {
    color: #0048BA;
}

.tingle- {
    color: #007BA7;
}

.tingle- {
    color: #246BCE;
}

.tingle- {
    color: #007BA7;
}

.tingle- {
    color: #2A52BE;
}

.tingle- {
    color: #5072A7;
}

.tingle- {
    color: #3C69E7;
}

.tingle- {
    color: #6D9BC3;
}

.tingle- {
    color: #1DACD6;
}

.tingle- {
    color: #007AA5;
}

.tingle- {
    color: #007FFF;
}

.tingle- {
    color: #72A0C1;
}

.tingle- {
    color: #7CB9E8;
}

.tingle- {
    color: #89CFF0;
}

.tingle- {
    color: #00FFFF;
}

.tingle- {
    color: #A1CAF1;
}

.tingle- {
    color: #BCD4E6;
}

.tingle- {
    color: #2E5894;
}

.tingle- {
    color: #6699CC;
}

.tingle- {
    color: #0093AF;
}

.tingle- {
    color: #0087BD;
}

.tingle- {
    color: #0D98BA;
}

.tingle- {
    color: #5DADEC;
}

.tingle- {
    color: #318CE7;
}

.tingle- {
    color: #1F75FE;
}

.tingle- {
    color: #0000FF;
}

.tingle- {
    color: #0018A8;
}

.tingle- {
    color: #333399;
}

.tingle- {
    color: #0247FE;
}


/* curl of red */

.tingle- {
    color: #FF0000;
}

.tingle- {
    color: #EE204D;
}

.tingle- {
    color: #D3212D;
}

.tingle- {
    color: #F2003C;
}

.tingle- {
    color: #E52B50;
}

.tingle- {
    color: #C40233;
}

.tingle- {
    color: #DB2D43;
}


/* curl of yellow */

.tingle- {
    color: #EDEAE0;
}

.tingle- {
    color: #B0BF1A;
}

.tingle- {
    color: #D0FF14;
}

.tingle- {
    color: #E9D66B;
}

.tingle- {
    color: #FDEE00;
}

.tingle- {
    color: #FFBF00;
}


/* curl of green */

.tingle- {
    color: #C0E8D5;
}

.tingle- {
    color: #00FF00;
}

.tingle- {
    color: #1CAC78;
}

.tingle- {
    color: #008000;
}

.tingle- {
    color: #7FFFD4;
}

.tingle- {
    color: #00A877;
}

.tingle- {
    color: #009F6B;
}

.tingle- {
    color: #00AD43;
}

.tingle- {
    color: #00A550;
}

.tingle- {
    color: #66B032;
}

.tingle- {
    color: #3DDC84;
}

.tingle- {
    color: #3B7A57;
}

.tingle- {
    color: #00CC99;
}

.tingle- {
    color: #008000;
}

.tingle- {
    color: #00FF00;
}

.tingle- {
    color: #32CD32;
}

.tingle- {
    color: #195905;
}


/* curl of purple & pink*/

.tingle- {
    color: #FF00FF;
}

.tingle- {
    color: #F653A6;
}

.tingle- {
    color: #CA1F7B;
}

.tingle- {
    color: #D0417E;
}

.tingle- {
    color: #FF0090;
}

.tingle- {
    color: #9F4576;
}

.tingle- {
    color: #B284BE;
}

.tingle- {
    color: #9F2B68;
}

.tingle- {
    color: #9966CC;
}

.tingle- {
    color: #E936A7;
}

.tingle- {
    color: #FF00FF;
}

.tingle- {
    color: #C154C1;
}

.tingle- {
    color: #AB274F;
}

.tingle- {
    color: #CC397B;
}

.tingle- {
    color: #C74375;
}

.tingle- {
    color: #F19CBB;
}


/* curl of white */

.tingle- {
    color: #F0F8FF;
}


/* curl of orange */

.tingle- {
    color: #EFDECD;
}

.tingle- {
    color: #DEB887;
}

.tingle- {
    color: #DEB887;
}

.tingle- {
    color: #FFE4C4;
}

.tingle- {
    color: #FAE7B5;
}

.tingle- {
    color: #FFEBCD;
}

.tingle- {
    color: #FAEBD7;
}

.tingle- {
    color: #FBCEB1;
}

.tingle- {
    color: #CD9575;
}

.tingle- {
    color: #FF9966;
}

.tingle- {
    color: #C46210;
}

.tingle- {
    color: #FF7E00;
}

.tingle- {
    color: #C19A6B;
}

.tingle- {
    color: #B86D29;
}

.tingle- {
    color: #FFBD88;
}

.tingle- {
    color: #F2E8D7;
}

.tingle- {
    color: #987456;
}

.tingle- {
    color: #FAF0E6;
}


/* curl of brown */

.tingle- {
    color: #4B5320;
}

.tingle- {
    color: #8F9779;
}

.tingle- {
    color: #B2BEB5;
}

.tingle- {
    color: #87A96B;
}

.tingle- {
    color: #27346F;
}

.tingle- {
    color: #A52A2A;
}

.tingle- {
    color: #568203;
}

.tingle- {
    color: #F0FFFF;
}

.tingle- {
    color: #F4C2C2;
}

.tingle- {
    color: #FEFEFA;
}

.tingle- {
    color: #FF91AF;
}

.tingle- {
    color: #DA1884;
}

.tingle- {
    color: #7C0A02;
}

.tingle- {
    color: #9F8170;
}

.tingle- {
    color: #848482;
}

.tingle- {
    color: #9C2542;
}

.tingle- {
    color: #3D2B1F;
}

.tingle- {
    color: #967117;
}

.tingle- {
    color: #CAE00D;
}

.tingle- {
    color: #BFFF00;
}

.tingle- {
    color: #FE6F5E;
}

.tingle- {
    color: #BF4F51;
}

.tingle- {
    color: #000000;
}

.tingle- {
    color: #3D0C02;
}

.tingle- {
    color: #000000;
}

.tingle- {
    color: #3B2F2F;
}

.tingle- {
    color: #54626F;
}

.tingle- {
    color: #3B3C36;
}

.tingle- {
    color: #A57164;
}

.tingle- {
    color: #ACE5EE;
}

.tingle- {
    color: #FAF0BE;
}

.tingle- {
    color: #660000;
}

.tingle- {
    color: #A2A2D0;
}

.tingle- {
    color: #064E40;
}

.tingle- {
    color: #126180;
}

.tingle- {
    color: #8A2BE2;
}

.tingle- {
    color: #7366BD;
}

.tingle- {
    color: #4D1A7F;
}

.tingle- {
    color: #DE5D83;
}

.tingle- {
    color: #79443B;
}

.tingle- {
    color: #E3DAC9;
}

.tingle- {
    color: #006A4E;
}

.tingle- {
    color: #87413F;
}

.tingle- {
    color: #CB4154;
}

.tingle- {
    color: #66FF00;
}

.tingle- {
    color: #D891EF;
}

.tingle- {
    color: #C32148;
}

.tingle- {
    color: #1974D2;
}

.tingle- {
    color: #FFAA1D;
}

.tingle- {
    color: #FF55A3;
}

.tingle- {
    color: #FB607F;
}

.tingle- {
    color: #004225;
}

.tingle- {
    color: #CD7F32;
}

.tingle- {
    color: #88540B;
}

.tingle- {
    color: #AF6E4D;
}

.tingle- {
    color: #1B4D3E;
}

.tingle- {
    color: #7BB661;
}

.tingle- {
    color: #800020;
}

.tingle- {
    color: #A17A74;
}

.tingle- {
    color: #CC5500;
}

.tingle- {
    color: #E97451;
}

.tingle- {
    color: #8A3324;
}

.tingle- {
    color: #BD33A4;
}

.tingle- {
    color: #702963;
}

.tingle- {
    color: #536872;
}

.tingle- {
    color: #5F9EA0;
}

.tingle- {
    color: #A9B2C3;
}

.tingle- {
    color: #91A3B0;
}

.tingle- {
    color: #006B3C;
}

.tingle- {
    color: #ED872D;
}

.tingle- {
    color: #E30022;
}

.tingle- {
    color: #FFF600;
}

.tingle- {
    color: #A67B5B;
}

.tingle- {
    color: #4B3621;
}

.tingle- {
    color: #A3C1AD;
}

.tingle- {
    color: #C19A6B;
}

.tingle- {
    color: #EFBBCC;
}

.tingle- {
    color: #FFFF99;
}

.tingle- {
    color: #FFEF00;
}

.tingle- {
    color: #FF0800;
}

.tingle- {
    color: #E4717A;
}

.tingle- {
    color: #592720;
}

.tingle- {
    color: #C41E3A;
}

.tingle- {
    color: #960018;
}

.tingle- {
    color: #D70040;
}

.tingle- {
    color: #FFA6C9;
}

.tingle- {
    color: #B31B1B;
}

.tingle- {
    color: #56A0D3;
}

.tingle- {
    color: #ED9121;
}

.tingle- {
    color: #00563F;
}

.tingle- {
    color: #703642;
}

.tingle- {
    color: #C95A49;
}

.tingle- {
    color: #ACE1AF;
}

.tingle- {
    color: #2F847C;
}

.tingle- {
    color: #B2FFFF;
}

.tingle- {
    color: #DE3163;
}

.tingle- {
    color: #E03C31;
}

.tingle- {
    color: #F7E7CE;
}

.tingle- {
    color: #F1DDCF;
}

.tingle- {
    color: #36454F;
}

.tingle- {
    color: #232B2B;
}

.tingle- {
    color: #E68FAC;
}

.tingle- {
    color: #DFFF00;
}

.tingle- {
    color: #7FFF00;
}

.tingle- {
    color: #FFB7C5;
}

.tingle- {
    color: #954535;
}

.tingle- {
    color: #E23D28;
}

.tingle- {
    color: #DE6FA1;
}

.tingle- {
    color: #A8516E;
}

.tingle- {
    color: #AA381E;
}

.tingle- {
    color: #856088;
}

.tingle- {
    color: #FFB200;
}

.tingle- {
    color: #7B3F00;
}

.tingle- {
    color: #D2691E;
}

.tingle- {
    color: #FFA700;
}

.tingle- {
    color: #58111A;
}

.tingle- {
    color: #98817B;
}

.tingle- {
    color: #E34234;
}

.tingle- {
    color: #CD607E;
}

.tingle- {
    color: #E4D00A;
}

.tingle- {
    color: #9FA91F;
}

.tingle- {
    color: #7F1734;
}

.tingle- {
    color: #0047AB;
}

.tingle- {
    color: #D2691E;
}

.tingle- {
    color: #6F4E37;
}

.tingle- {
    color: #B9D9EB;
}

.tingle- {
    color: #F88379;
}

.tingle- {
    color: #8C92AC;
}

.tingle- {
    color: #B87333;
}

.tingle- {
    color: #DA8A67;
}

.tingle- {
    color: #AD6F69;
}

.tingle- {
    color: #CB6D51;
}

.tingle- {
    color: #996666;
}

.tingle- {
    color: #FF3800;
}

.tingle- {
    color: #FF7F50;
}

.tingle- {
    color: #F88379;
}

.tingle- {
    color: #893F45;
}

.tingle- {
    color: #FBEC5D;
}

.tingle- {
    color: #B31B1B;
}

.tingle- {
    color: #6495ED;
}

.tingle- {
    color: #FFF8DC;
}

.tingle- {
    color: #2E2D88;
}

.tingle- {
    color: #FFF8E7;
}

.tingle- {
    color: #81613C;
}

.tingle- {
    color: #FFBCD9;
}

.tingle- {
    color: #FFFDD0;
}

.tingle- {
    color: #DC143C;
}

.tingle- {
    color: #9E1B32;
}

.tingle- {
    color: #A7D8DE;
}

.tingle- {
    color: #F5F5F5;
}

.tingle- {
    color: #00FFFF;
}

.tingle- {
    color: #00B7EB;
}

.tingle- {
    color: #58427C;
}

.tingle- {
    color: #FFD300;
}

.tingle- {
    color: #F56FA1;
}

.tingle- {
    color: #666699;
}

.tingle- {
    color: #654321;
}

.tingle- {
    color: #5D3954;
}

.tingle- {
    color: #26428B;
}

.tingle- {
    color: #008B8B;
}

.tingle- {
    color: #536878;
}

.tingle- {
    color: #B8860B;
}

.tingle- {
    color: #013220;
}

.tingle- {
    color: #006400;
}

.tingle- {
    color: #1A2421;
}

.tingle- {
    color: #BDB76B;
}

.tingle- {
    color: #483C32;
}

.tingle- {
    color: #534B4F;
}

.tingle- {
    color: #543D37;
}

.tingle- {
    color: #8B008B;
}

.tingle- {
    color: #4A5D23;
}

.tingle- {
    color: #556B2F;
}

.tingle- {
    color: #FF8C00;
}

.tingle- {
    color: #9932CC;
}

.tingle- {
    color: #03C03C;
}

.tingle- {
    color: #301934;
}

.tingle- {
    color: #8B0000;
}

.tingle- {
    color: #E9967A;
}

.tingle- {
    color: #8FBC8F;
}

.tingle- {
    color: #3C1414;
}

.tingle- {
    color: #8CBED6;
}

.tingle- {
    color: #2F4F4F;
}

.tingle- {
    color: #177245;
}

.tingle- {
    color: #00CED1;
}

.tingle- {
    color: #9400D3;
}

.tingle- {
    color: #00703C;
}

.tingle- {
    color: #555555;
}

.tingle- {
    color: #DA3287;
}

.tingle- {
    color: #FAD6A5;
}

.tingle- {
    color: #B94E48;
}

.tingle- {
    color: #004B49;
}

.tingle- {
    color: #FF1493;
}

.tingle- {
    color: #FF9933;
}

.tingle- {
    color: #00BFFF;
}

.tingle- {
    color: #4A646C;
}

.tingle- {
    color: #7E5E60;
}

.tingle- {
    color: #1560BD;
}

.tingle- {
    color: #2243B6;
}

.tingle- {
    color: #C19A6B;
}

.tingle- {
    color: #EDC9AF;
}

.tingle- {
    color: #696969;
}

.tingle- {
    color: #1E90FF;
}

.tingle- {
    color: #EFDFBB;
}

.tingle- {
    color: #D71868;
}

.tingle- {
    color: #967117;
}

.tingle- {
    color: #00009C;
}

.tingle- {
    color: #E1A95F;
}

.tingle- {
    color: #555D50;
}

.tingle- {
    color: #C2B280;
}

.tingle- {
    color: #1B1B1B;
}

.tingle- {
    color: #614051;
}

.tingle- {
    color: #F0EAD6;
}

.tingle- {
    color: #1034A6;
}

.tingle- {
    color: #16161D;
}

.tingle- {
    color: #7DF9FF;
}

.tingle- {
    color: #00FF00;
}

.tingle- {
    color: #6F00FF;
}

.tingle- {
    color: #CCFF00;
}

.tingle- {
    color: #BF00FF;
}

.tingle- {
    color: #8F00FF;
}

.tingle- {
    color: #50C878;
}

.tingle- {
    color: #6C3082;
}

.tingle- {
    color: #1B4D3E;
}

.tingle- {
    color: #B48395;
}

.tingle- {
    color: #AB4B52;
}

.tingle- {
    color: #CC474B;
}

.tingle- {
    color: #563C5C;
}

.tingle-green-1 {
    color: #00FF40;
}

.tingle- {
    color: #96C8A2;
}

.tingle- {
    color: #C19A6B;
}

.tingle- {
    color: #801818;
}

.tingle- {
    color: #B53389;
}

.tingle- {
    color: #DE5285;
}

.tingle- {
    color: #F400A1;
}

.tingle- {
    color: #E5AA70;
}

.tingle- {
    color: #9FD170;
}

.tingle- {
    color: #4D5D53;
}

.tingle- {
    color: #4F7942;
}

.tingle- {
    color: #6C541E;
}

.tingle- {
    color: #FF5470;
}

.tingle- {
    color: #683068;
}

.tingle- {
    color: #B22222;
}

.tingle- {
    color: #CE2029;
}

.tingle- {
    color: #E95C4B;
}

.tingle- {
    color: #E25822;
}

.tingle- {
    color: #EEDC82;
}

.tingle- {
    color: #A2006D;
}

.tingle- {
    color: #FFFAF0;
}

.tingle- {
    color: #15F4EE;
}

.tingle- {
    color: #5FA777;
}

.tingle- {
    color: #014421;
}

.tingle- {
    color: #228B22;
}

.tingle- {
    color: #A67B5B;
}

.tingle- {
    color: #856D4D;
}

.tingle- {
    color: #0072BB;
}

.tingle- {
    color: #FD3F92;
}

.tingle- {
    color: #86608E
}

.tingle- {
    color: #9EFD38;
}

.tingle- {
    color: #D473D4;
}

.tingle- {
    color: #FD6C9E;
}

.tingle- {
    color: #C72C48;
}

.tingle- {
    color: #F64A8A;
}

.tingle- {
    color: #77B5FE;
}

.tingle- {
    color: #8806CE;
}

.tingle- {
    color: #E48400;
}

.tingle- {
    color: #87421F;
}

.tingle- {
    color: #DCDCDC;
}

.tingle- {
    color: #E49B0F;
}

.tingle- {
    color: #007F66;
}

.tingle- {
    color: #F8F8FF;
}

.tingle- {
    color: #6082B6;
}

.tingle- {
    color: #AB92B3;
}

.tingle- {
    color: #00AB66;
}

.tingle- {
    color: #A57C00;
}

.tingle- {
    color: #D4AF37;
}

.tingle- {
    color: #FFD700;
}

.tingle- {
    color: #E6BE8A;
}

.tingle- {
    color: #85754E;
}

.tingle- {
    color: #996515;
}

.tingle- {
    color: #FCC200;
}

.tingle- {
    color: #FFDF00;
}

.tingle- {
    color: #DAA520;
}

.tingle- {
    color: #00573F;
}

.tingle- {
    color: #676767;
}

.tingle- {
    color: #A8E4A0;
}

.tingle- {
    color: #808080;
}

.tingle- {
    color: #BEBEBE;
}

.tingle- {
    color: #1164B4;
}

.tingle- {
    color: #2887C8;
}

.tingle- {
    color: #009966;
}

.tingle- {
    color: #A7F432;
}

.tingle- {
    color: #6EAEA1;
}

.tingle- {
    color: #ADFF2F;
}

.tingle- {
    color: #F0E891;
}

.tingle- {
    color: #D34600;
}

.tingle- {
    color: #A99A86;
}

.tingle- {
    color: #2a3439;
}

.tingle- {
    color: #446CCF;
}

.tingle- {
    color: #5218FA;
}

.tingle- {
    color: #E9D66B;
}

.tingle- {
    color: #3FFF00;
}

.tingle- {
    color: #DA9100;
}

.tingle- {
    color: #FF7A00;
}

.tingle- {
    color: #DF73FF;
}

.tingle- {
    color: #AA98A9;
}

.tingle- {
    color: #F400A1;
}

.tingle- {
    color: #F0FFF0;
}

.tingle- {
    color: #006DB0;
}

.tingle- {
    color: #49796B;
}

.tingle- {
    color: #FF1DCE;
}

.tingle- {
    color: #FF69B4;
}

.tingle- {
    color: #355E3B;
}

.tingle- {
    color: #71A6D2;
}

.tingle- {
    color: #FCF75E;
}

.tingle- {
    color: #319177;
}

.tingle- {
    color: #ED2939;
}

.tingle- {
    color: #B2EC5D;
}

.tingle- {
    color: #4C516D;
}

.tingle- {
    color: #138808;
}

.tingle- {
    color: #CD5C5C;
}

.tingle- {
    color: #E3A857;
}

.tingle- {
    color: #4B0082;
}

.tingle- {
    color: #00416A;
}

.tingle- {
    color: #FF496C;
}

.tingle- {
    color: #130a8f;
}

.tingle- {
    color: #FF4F00;
}

.tingle- {
    color: #BA160C;
}

.tingle- {
    color: #C0362C;
}

.tingle- {
    color: #5A4FCF;
}

.tingle- {
    color: #B3446C;
}

.tingle- {
    color: #F4F0EC;
}

.tingle- {
    color: #B2FFFF;
}

.tingle- {
    color: #FFFFF0;
}

.tingle- {
    color: #00A86B;
}

.tingle- {
    color: #9D2933;
}

.tingle- {
    color: #5B3256;
}

.tingle- {
    color: #F8DE7E;
}

.tingle- {
    color: #A50B5E;
}

.tingle- {
    color: #343434;
}

.tingle- {
    color: #F4CA16;
}

.tingle- {
    color: #BDDA57;
}

.tingle- {
    color: #29AB87;
}

.tingle- {
    color: #4CBB17;
}

.tingle- {
    color: #3AB09E;
}

.tingle- {
    color: #E8F48C;
}

.tingle- {
    color: #C3B091;
}

.tingle- {
    color: #F0E68C;
}

.tingle- {
    color: #882D17;
}

.tingle- {
    color: #E79FC4;
}

.tingle- {
    color: #6B4423;
}

.tingle- {
    color: #354230;
}

.tingle- {
    color: #512888;
}

.tingle- {
    color: #D6CADD;
}

.tingle- {
    color: #26619C;
}

.tingle- {
    color: #FFFF66;
}

.tingle- {
    color: #A9BA9D;
}

.tingle- {
    color: #CF1020;
}

.tingle- {
    color: #B57EDC;
}

.tingle- {
    color: #E6E6FA;
}

.tingle- {
    color: #CCCCFF;
}

.tingle- {
    color: #FFF0F5;
}

.tingle- {
    color: #C4C3D0;
}

.tingle- {
    color: #7CFC00;
}

.tingle- {
    color: #FFF700;
}

.tingle- {
    color: #FFFACD;
}

.tingle- {
    color: #CCA01D;
}

.tingle- {
    color: #FDFF00;
}

.tingle- {
    color: #F6EABE;
}

.tingle- {
    color: #FFF44F;
}

.tingle- {
    color: #FFFF9F;
}

.tingle- {
    color: #545AA7;
}

.tingle- {
    color: #ADD8E6;
}

.tingle- {
    color: #F08080;
}

.tingle- {
    color: #93CCEA;
}

.tingle- {
    color: #E0FFFF;
}

.tingle- {
    color: #C8AD7F;
}

.tingle- {
    color: #FAFAD2;
}

.tingle- {
    color: #D3D3D3;
}

.tingle- {
    color: #90EE90;
}

.tingle- {
    color: #FED8B1;
}

.tingle- {
    color: #C5CBE1;
}

.tingle- {
    color: #FFB6C1;
}

.tingle- {
    color: #FFA07A;
}

.tingle- {
    color: #20B2AA;
}

.tingle- {
    color: #87CEFA;
}

.tingle- {
    color: #778899;
}